.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-right button {
  background-color: #444;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.navbar-right button:hover {
  background-color: #555;
}

.navbar-right a:hover {
  text-decoration: underline;
}


